<div class="full-screen-bg">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card border-secondary">
                    <div class="card-header d-flex justify-content-between text-white align-items-center bg-secondary">
                        Transaction Details
                        <button type="button" class="btn-close" aria-label="Close"
                            (click)="emitCloseClicked()"></button>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="date" class="form-label">Date</label>
                                <input [disabled]="true" type="date" class="form-control" id="date" [(ngModel)]="date"
                                    [ngModel]="date | date: 'yyyy-MM-dd'" name="date">

                            </div>

                            <div class="mb-3">
                                <label for="account" class="form-label">Account</label>
                                <select [disabled]="true" class="form-select" id="account"
                                    [(ngModel)]="selectedAccountIndex" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let account of accounts; let i = index" [value]="i">
                                        {{ account.name }}</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="cost" class="form-label">Cost</label>
                                <input [disabled]="true" type="number" class="form-control" id="cost" [(ngModel)]="cost"
                                    placeholder="Enter Cost" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="mb-3">
                                <label for="siteId" class="form-label">Site</label>
                                <select [disabled]="true" class="form-select" id="siteId" [(ngModel)]="site_id"
                                    [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let site of sites" [value]="site.id">{{ site.name }}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea [disabled]="true" class="form-control" id="description" rows="3"
                                    placeholder="Enter extra description" [(ngModel)]="description"
                                    [ngModelOptions]="{standalone: true}"></textarea>
                            </div>


                            <div class="mb-3">
                                <label for="date_recorded" class="form-label">Date Recorded</label>
                                <input [disabled]="true" type="text" class="form-control" id="date_recorded"
                                    [(ngModel)]="date_recorded" [ngModelOptions]="{standalone: true}">
                            </div>

                            <div *ngIf="!isCredit" style="display: inline-block;">
                                <button class="btn btn-danger" (click)="deleteCash(cash)">Delete</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>