.full-screen-bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
    overflow-y: auto;
    /* Enable vertical scrolling */
    /* max-height: calc(100vh - 50px); */
    /* Set max height, minus any header/footer height */
}