<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Transactions">
        <div class="mt-5 container">
            <h1 class="mb-4">{{account?.name}}</h1>
            <div class="table-responsive">
                <table class="table table-bordered border border-dark text-center">
                    <thead>
                        <tr>
                            <th scope="col" colspan="9">Transactions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Cost</th>
                            <th>Details</th>
                        </tr>

                        <tr *ngFor="let transaction of transactions">
                            <td>{{ transaction.id }}</td>
                            <td>{{ transaction.date }}</td>
                            <td>{{ (transaction.cost).toFixed(5) }} BD</td>
                            <td>
                                <button type="button" class="btn btn-primary"
                                    (click)="viewDetails(transaction)">Details</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Deposits">
        <div class="mt-5 container">
            <h1 class="mb-4">{{account?.name}}</h1>
            <div class="table-responsive">
                <table class="table table-bordered border border-dark text-center">
                    <thead>
                        <tr>
                            <th scope="col" colspan="9">Deposits</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Cost</th>
                            <th>Details</th>
                        </tr>

                        <tr *ngFor="let deposit of deposits">
                            <td>{{ deposit.id }}</td>
                            <td>{{ deposit.date }}</td>
                            <td>{{ (deposit.cost).toFixed(5) }} BD</td>
                            <td>
                                <button type="button" class="btn btn-primary"
                                    (click)="viewDetails(deposit)">Details</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>