<div class="full-screen-bg">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card border-secondary">
                    <div class="card-header d-flex justify-content-between text-white align-items-center bg-secondary">
                        Add Account
                        <button type="button" class="btn-close" aria-label="Close"
                            (click)="emitCloseClicked()"></button>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="accountName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="accountName"
                                    placeholder="Enter account name" [(ngModel)]="name"
                                    [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="mb-3">
                                <label for="balanceName" class="form-label">Balance</label>
                                <input type="number" class="form-control" id="balanceName" placeholder="Enter balance"
                                    [(ngModel)]="balance" [ngModelOptions]="{standalone: true}">
                            </div>
                            <button type="submit" class="btn btn-primary" (click)="addAccount(name, balance)"
                                [disabled]="isDisabled">Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>