<div class="mt-5 container">
    <h1 class="mb-4">Transactions</h1>
    <div class="table-responsive">
        <table class="table table-bordered border border-dark text-center">
            <thead>
                <tr>
                    <th scope="col" colspan="9">Transactions List</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Site</th>
                    <th>Cost (Exl VAT)</th>
                    <th>VAT (10%)</th>
                    <th>Cost (Incl VAT)</th>
                    <th>Details</th>
                </tr>

                <tr *ngFor="let cash of cash">
                    <td>{{ cash.id }}</td>
                    <td>{{ cash.date | date: 'dd-MMM-yyyy' }}</td>
                    <td>{{ cash.site.name }}</td>
                    <td>{{ cash.cost }} BD</td>
                    <td>{{ (cash.cost*0.1).toFixed(5) }} BD</td>
                    <td>{{ (cash.cost*1.1).toFixed(5)}} BD</td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="viewDetails(cash)">Details</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <button [disabled]="showAddCash" class="btn btn-primary btn-lg rounded-circle position-fixed bottom-0 end-0 m-4"
        (click)="toggleAddCash()">+</button>
</div>

<app-add-cash [types]="types" [sites]="sites" [accounts]="accounts" [suppliers]="suppliers"
    (closeClicked)="toggleAddCash()" (cashAdded)="handleCashAdded($event)" *ngIf="showAddCash"></app-add-cash>

<app-details [cash]="selectedCash" [accounts]="accounts" [sites]="sites" [suppliers]="suppliers"
    (closeClicked)="toggleDetails()" (cashEdited)="handleCashAdded($event)" *ngIf="showDetails"></app-details>