<div class="full-screen-bg">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card border-secondary">
                    <div class="card-header d-flex justify-content-between text-white align-items-center bg-secondary">
                        Credit Details
                        <button type="button" class="btn-close" aria-label="Close"
                            (click)="emitCloseClicked()"></button>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="date" class="form-label">Date</label>
                                <!-- <input [disabled]="!isEditing" type="date" class="form-control" id="date"
                                    [(ngModel)]="parsedDate"> -->
                                <input [disabled]="true" type="date" class="form-control" id="date" [(ngModel)]="date"
                                    [ngModel]="date | date: 'yyyy-MM-dd'" name="date">

                            </div>
                            <div class="mb-3">
                                <label for="invoice_no" class="form-label">Invoice No</label>
                                <input [disabled]="true" type="text" class="form-control" id="invoice_no"
                                    [(ngModel)]="invoice_no" placeholder="Enter Invoice No"
                                    [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="mb-3">
                                <label for="supplierId" class="form-label">Supplier</label>
                                <select [disabled]="true" class="form-select" id="supplierId" [(ngModel)]="supplier_id"
                                    [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{ supplier.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="cost" class="form-label">Cost</label>
                                <input [disabled]="true" type="number" class="form-control" id="cost" [(ngModel)]="cost"
                                    placeholder="Enter Cost" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="mb-3">
                                <label for="siteId" class="form-label">Select Site</label>
                                <select [disabled]="true" class="form-select" id="siteId" [(ngModel)]="site_id"
                                    [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let site of sites" [value]="site.id">{{ site.name }}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea [disabled]="true" class="form-control" id="description" rows="3"
                                    placeholder="Enter extra description" [(ngModel)]="description"
                                    [ngModelOptions]="{standalone: true}"></textarea>
                            </div>

                            <div class="mb-3">
                                <label for="date_recorded" class="form-label">Date Recorded</label>
                                <input [disabled]="true" type="text" class="form-control" id="date_recorded"
                                    [(ngModel)]="date_recorded" [ngModelOptions]="{standalone: true}">
                            </div>

                            <div class="mb-3" *ngIf="isChoosingCreditor">
                                <label for="accountSelection" class="form-label">Select Account</label>
                                <select id="accountSelection" class="form-select" [(ngModel)]="accountId"
                                    [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let account of accounts" [value]="account.id">
                                        {{ account.name }}
                                    </option>
                                </select>
                            </div>


                            <div *ngIf="isChoosingCreditor" style="display: inline-block; margin-right: 10px;">
                                <button *ngIf="isChoosingCreditor" type="submit" class="btn btn-primary"
                                    (click)="submitPayCreditor()">Submit</button>
                            </div>

                            <div *ngIf="isChoosingCreditor" style="display: inline-block; margin-right: 10px;">
                                <button class="btn btn-danger" (click)="togglePayCreditor()">Cancel</button>
                            </div>


                            <div *ngIf="!isChoosingCreditor && !isPaid"
                                style="display: inline-block; margin-right: 10px;">
                                <button class="btn btn-success" (click)="togglePayCreditor()">Pay Creditor</button>
                            </div>
                            <div style="display: inline-block;">
                                <button *ngIf="!isChoosingCreditor && !isPaid" class="btn btn-danger"
                                    (click)="deleteCredit(creditId)">Delete</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>