<div class="full-screen-bg">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card border-secondary">
                    <div class="card-header d-flex justify-content-between text-white align-items-center bg-secondary">
                        Add Balance
                        <button type="button" class="btn-close" aria-label="Close"
                            (click)="emitCloseClicked()"></button>
                    </div>
                    <div class="card-body">
                        <form>
                            <!-- Dropdown for Account Selection -->
                            <div class="mb-3">
                                <label for="accountSelection" class="form-label">Select Account</label>
                                <select id="accountSelection" class="form-select" [(ngModel)]="accountId"
                                    [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let account of accounts" [value]="account.id">
                                        {{ account.name }}
                                    </option>
                                </select>
                            </div>

                            <!-- Input for Added Balance -->
                            <div class="mb-3">
                                <label for="addedBalance" class="form-label">Added Balance</label>
                                <input type="text" class="form-control" id="addedBalance"
                                    placeholder="Enter balance number" [(ngModel)]="addedBalance"
                                    [ngModelOptions]="{standalone: true}">
                            </div>

                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" rows="3" placeholder="Enter description"
                                    [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary"
                                (click)="addAccountBalance(addedBalance, description)">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>