<div class="container-fluid d-flex flex-column justify-content-between p-0 position-relative">
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="mb-0">Accounts</h1>
            <button type="button" class="btn btn-sm font-weight-bold text-light bg-secondary"
                (click)="toggleAddBalance()">
                Add Balance <i class=" fas fa-plus"></i>
            </button>
        </div>
        <div class="row">
            <div class="col-md-4" *ngFor="let account of accounts">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center bg-secondary text-light">
                        <h5 class="card-title mb-0">{{ account.name }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Balance: {{ account.balance }} BHD</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button [disabled]="showAddAccount" class="btn btn-primary btn-lg rounded-circle position-fixed bottom-0 end-0 m-4"
        (click)="toggleAddAccount()">+</button>

</div>
<app-add-account (closeClicked)="toggleAddAccount()" (accountAdded)="handleAccountAdded($event)"
    *ngIf="showAddAccount"></app-add-account>

<app-add-balance [accounts]="accounts" (closeClicked)="toggleAddBalance()" (balanceAdded)="handleAccountAdded($event)"
    *ngIf="showAddBalance"></app-add-balance>
<!-- <app-details [account]="selectedAccount" (closeClicked)="toggleEditAccount()"
    (accountEdited)="handleAccountEdited($event)" *ngIf="showEditAccount">
</app-details> -->